{% extends "base.html" %}
{% block content %}

<div style="margin-top: 100px; margin-left: 100px;">
    <form method="POST" action="/" name="myform">
        {% csrf_token %}
        <div class="form-group">
            <label for="exampleInputEmail1">Enter url of reddit post</label>
        </div>
        <div class="form-group">
            <div class="col-md-11">
                <input type="url" class="form-control input-sm" aria-describedby="emailHelp"
                    placeholder="Enter URL here" name="URL">
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </form>
    {% if show %}
    
    <div class="table-responsive"> 
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Url</th>
                    <th scope="col">Flair</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{url}}</td>
                    <td><strong>{{pred}}</strong></td>
                </tr>
            </tbody>
        </table>
    </div>
    

    {% else %}

    {% endif %}
</div>

{% endblock %}